body {
  background-image: url("https://images.unsplash.com/photo-1511854289476-81c95d2a62c6?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80");
  background-position: center;
  background-size: cover; }

.container {
  width: 1000px;
  margin: 30px auto;
  background-color: rgba(89, 174, 200, 0.4);
  border-radius: 5%;
  padding: 20px;
  display: grid;
  grid-gap: 30px;
  grid-template-columns: repeat(2, 200px);
  grid-auto-flow: row dense;
  grid-template-rows: repeat(2, 100px);
  height: 1000px;
  justify-content: center;
  align-content: center; }
  .container .item {
    padding: 20px;
    color: white;
    font-size: 30px;
    background-color: cyan;
    border-radius: 5%; }
    .container .item--4 {
      background-color: tomato;
      grid-row: 2 / span 3; }
    .container .item--6 {
      background-color: lightcoral;
      grid-row: 2 / span 2; }
    .container .item--7 {
      background-color: pink;
      grid-column: 1 / -1; }
